*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas: 
    "aside main"
    "aside main"
    "footer footer"
}

header{
    grid-area: header;
    background-color: blue;
}

aside{
    grid-area: aside;
    background-color: yellow
}

main{
    grid-area: main;
    background-color: green;
}

footer{
    grid-area: footer;
    background-color: red;
}