@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 5px solid #1c417b;
    margin: 2px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo > img{
    width: 30%;
    object-fit: cover;
    align-items: center;
    margin-right: 10px;
}

.logo > i{
    text-align: center;
    color: #1c417b;
    text-transform: none;
    font-weight: bold;
    font-size: larger;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 65%;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.links-esq{
    display: flex;
    position: relative;
    gap: 20px;
}

.links-dir{
    display: flex;
    gap: 20px;
}

.nav-link:hover{
    transition: .5s;
    padding: 10px 18px;
    background-color: #1c417b;
    border-radius: 12px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container-estoque{
    right: 20px;
    width: 100%;
    margin: 3%;
}

div > h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 500%;
    display: flex;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    background-color: #3e5066;
    border: 5px solid #1c417b;
    border-radius: 20px;
}

.endereco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px auto;

}

.card{
    border: 5px solid #1c417b;
    width: 300px;
    text-align: center;
    padding: 10px auto;
    display: inline-block;
    margin:10px;
    transition: .5s;
}

.picture{
    width: 100%;
}

.title{
    position: relative;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}

.valor{
    background-color: #1c417b;
    font-size: 20px;
    font-weight: bolder;
}

.title:hover{
    background-color: #1c417b;
    transition: .5s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.paginacao{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: auto auto 50px auto;
    padding: 10px;
}

.pag-item{
    background-color: #3e5066;
    border: 2px solid #1c417b;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: underline;
}

.pag-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
.footer{
    background-color: #1c417b;
    border-top: 2px solid white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.botao-home {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 20px 20px;
    border-radius: 100%;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10px;
    background-size: 100%;
    background-position: center center;
    background-image: url(botao-globo.jpg)
}

.botao-home:hover {
    background-color: transparent;
    color: #1c417b;
    transition: 0.5s;
}

.tabela{
    background-color: #a18f8f;
    width: 70%;
    margin: 50px auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #1c417b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
}

.tabela > thead{
    background-color: #3e5066;
    border: 5px solid #1c417b;
}

.tabela > tbody > tr > td{
    padding: 16px;
}

.tabela > tbody > tr:nth-of-type(even){
    background-color: whitesmoke;

}

tr:hover{
    opacity: 0.5;
    cursor: pointer;
}

.sumario {
    display: flexbox;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
    background-color: #a18f8f;
    border: 5px solid #1c417b;

}

.sumario-item {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    background-color: rgb(179, 190, 23);
    border: 5px solid #1c417b;

}

.sumario-item > p{
    font-size: 20px;
    border-radius: 50px;
    background-color: white;
}

.dados-vendas {
    border: 5px solid #1c417b;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);

}

.dados-vendas > h2 {
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: 5px solid #1c417b;
    background-color: #a18f8f;
}

.tabela-vendas {
    width: 100%;
    border: 5px solid #1c417b;
}

.tabela-vendas th, .tabela-vendas td {
    padding: 10px;
    text-align: left;
    border: 5px solid #1c417b;
}

.tabela-th{
    background-color: #1c417b;
    color: white;
}

@media(max-width: 640px){

    *{
        max-width: 100%;
        max-height: 100%;
        font-size: 80%;
    }

    .navbar{
        max-width: 100%;
        font-size: 200%;
    }
    
    .logo {
        max-width: 100%;
    }
    
    .logo > i{
        font-size: 80%;
    }

    .nav-menu{
        font-size: 200%;
        gap: 10%;
    }
    
    .container{
        display: block;
        font-size: 500%;
    }
    
    .container-estoque{
        max-width: 100%;
        font-size: 500%;
    }
    
    div > h1{
        font-size: 500%;
    }
    
    .endereco{
        max-width: 60%;
        font-size: 98%;
        text-align: left;
        margin: 5% 20% 5% 2%;
    }

    .footer{
        font-size: 180%;
        max-width: 25%;
        margin-bottom: 0px;
        right: 0px;
    }
    
    .botao-home {
        max-width: 30%;
        font-size: 80%;
        margin-bottom: 10px;
        right: 12px;
    }

    .paginacao{
        margin-left: -80px;
    }
    
    .pag-item{
        max-width: 100%;
        font-size: 200%;
    }

    .table{
        background-color: #606060;
        width: 90%;
        max-width: 800px;
        margin: 50px auto;
        text-align: center;
        border-collapse: collapse;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        border: 2px solid white;
    }
    
    .table > thead{
        background-color: #3e5066;
        color: white;
    }
    
    .table > tbody > tr > td{
        padding: 16px;
    }
    
    .table > tbody > tr:nth-of-type(even){
        background-color: black;
    
    }
    
    tr:hover{
        opacity: 0.5;
        cursor: pointer;
    }
}